.header {
	
}

button.link {
 background:none;
 border:none;
 }

nav {
   background-color: #darkgrey;
   color: #000000 ;
   list-style: none;
   text-align: center;
   padding: 10px 0 10px 0;
   font-size: 12px;
}

.nav > li {
   display: inline-block;
   padding: 0px 150px 0px 150px;
}

.nav > li > a {
   text-decoration: none;
   color: #000000 ;
}

.nav > li > a:hover{
   color: #c1c1c1 ;
}

